@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #B2e3Ff;
  --light-orange: #e77c40;
  --red: #e74040;
  --light-pink: #ffdcd1;
  --light-gray: #737373;
  --ywllow: #f3cd03;
  --green: #2dc071;
  --light-green: #b9eaa8;
}

link {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}

/** Utiity classes*/
.container {
max-width: 1100px;
margin: auto;
padding: 0 2rem;
}
/**Header Start*/
.header {
  background-color: var(--dark-blue); 
  
}

.navbar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 0px 2rem;
  height: 100px;
  padding-top: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar a {
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-decoration: none;
}


.navbar .logo {
  font-size: 24px;
  font-weight: 600;
}

.link  {
  margin: 5px 0px;
  font-weight: 500;
  transition: 0.3s ease;
  justify-content: space-between;
}

.link :hover {
  color: var(--red);
}

.navbar .account .btn-join {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
  text-transform: uppercase;
}

.navbar .account .btn-join:hover {
  color: var(--red);
  background-color: rgb(255, 255, 255);
}

.navbar .account .btn-join svg {
  font-size: 12px;
  margin-left: 2px;
  vertical-align: middle;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 10px;
}
.burger {
  display: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .link {
    display: none;
    flex-direction: column;
    background-color: #0d0d2b;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
    
  }

  .link.active {
    display: flex;
  }

  .burger {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .account {
    display: none;
  }
}


/**Header End*/


/**Main start*/
/**Home start*/
.home {
  background-color: var(--dark-blue);
  padding: 5rem 0;
}

.home-header {
  text-align: center;
  color: white;
  max-width: 450px;
  margin: auto;
}

.home-header span {
  color: var(--red);
  font-weight: 600;
}

.home-header h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0px;
  color: var(--light-pink);
}

.home-header p {
  margin-bottom: 30px;
  color: var(--light-pink);
  line-height: 1.6;
}

.btn-container .btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}

.btn-container .btn.btn-red {
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
}

.btn-container .btn.btn-red:hover {
  background-color: var(--dark-blue);
}

.btn-container .btn.btn-transparent {
  color: var(--red);
  transition: 0.3s ease;
}

.btn-container .btn.btn-transparent:hover {
  background-color: #f1f1f1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  justify-content: center;
  gap: 2rem;
  background-color: #151a35; 
  padding: 4rem 2rem;
  margin-top: 3rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: left;
  box-shadow: 0 5px 10px rgb(201, 69, 69);
  transition: transform 0.3s ease;
}


.card:hover {
  transform: translateY(-8px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d2d2d;
}

.card .underline {
  width: 40px;
  height: 3px;
  background-color: #c0392b; 
  margin: 0.5rem 0 1rem 0;
}

.card p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

.home端beruns {
  background-color: #151a35;
  color: var(--light-pink);
  padding-top: 20px;
  padding-bottom: 40px;
  justify-content:center;
  text-align: center;
  display: flex;
  gap: 250px;
}
.home端beruns img {
  width: 300px;
  height: 550px;
  border-radius: 100px 10px 100px 10px;
}
 .h1 {
  color: var(--light-pink);
  background-color: #151a35;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
 }
.wir p {
color: white;
text-align: center;
justify-content: space-between ;
margin: auto;
}
.wir h3 {
  justify-content: center;  
  text-align: center;

}
 
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}
.wir .btn.btn-red {
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
}

.wir .btn.btn-red:hover {
  background-color: var(--dark-blue);
}
/**Home End*/
/**Main End*/  

/**Footer Start*/
.footer-wrapper {
  background-color: var(--dark-blue);
  color: #fff;
  padding: 5rem 0rem 0rem 0rem;
}

.newsletter {
  text-align: center;
  margin-bottom: 3rem;
}

.newsletter .label {
  color: var(--red);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.newsletter h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.newsletter .description {
  max-width: 600px;
  margin: 0 auto 1.5rem;
  line-height: 1.6;
  color: #ccc;
}

.newsletter-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.newsletter-input input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 10px;
  width: 300px;
  font-size: 1rem;
}

.newsletter-input button {
  padding: 0.75rem 1.5rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-input button:hover {
  background-color: #217dbb;
}

.footer-bottom {
  background: #f5f5f5f8;
  color: #333;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1.5rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
  color: #555;
}

.social-icons i {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #3498db;
  cursor: pointer;
}

.newsletter-input .bttn {
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}

.newsletter-input .bttn:hover {
 background-color: var(--dark-blue);
}
/**Footer End*/

.produktbutton1 {
   background-color: rgb(255, 68, 68);
   color: white;
   border-radius: 10px;
   border-color: rgb(255, 68, 68);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;
   box-shadow: 0 5px 10px rgb(201, 69, 69);
}
.produktbutton1:hover {
  background-color: var(--dark-blue);
}
 .produktbutton2 {
   background-color: rgb(49, 168, 49);
   color: white;
   border-radius: 10px;
   border-color: rgb(49, 168, 49);
   box-shadow: 0 5px 10px rgb(49, 168, 49);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;

}
.produktbutton2:hover {
  background-color: var(--dark-blue);
}
.produktbutton3 {
   background-color:rgb(44, 126, 194);
   color: white;
   border-radius: 10px;
   border-color: rgb(44, 126, 194);
    box-shadow: 0 5px 10px rgb(44, 126, 194);
   padding: 7px;
   margin: 0px;
   font-weight: 300;
   transition: 0.3s ease;
}
.produktbutton3:hover {
  background-color: var(--dark-blue);
}


.card1 {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: left;
  box-shadow: 0 5px 10px rgb(236, 236, 236);
  transition: transform 0.3s ease;
}


.card1:hover {
  transform: translateY(-8px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.card1 h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d2d2d;
}

.card1 .underline {
  width: 40px;
  height: 3px;
  background-color: #c0392b; 
  margin: 0.5rem 0 1rem 0;
}

.card1 p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

/**Preis*/

.card2 {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: left;
  box-shadow: 0 5px 10px rgb(236, 236, 236);
  transition: transform 0.3s ease;
}


.card2:hover {
  transform: translateY(-8px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.card2 h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d2d2d;
}

.card2 .underline {
  width: 40px;
  height: 3px;
  background-color: #c0392b; 
  margin: 0.5rem 0 1rem 0;
}

.card2 p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

.zwei {
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--red);
  font-size: 30px;
  
}
.p1 {
  color: var(--light-pink);
  background-color: var(--dark-blue);
  text-align:center;
  padding: 10px 0px 5px 0px;
}

/**Preis End*/

.card-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background-color: #151a35; 
  padding: 4rem 2rem;
}
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background-color:  var(--dark-blue); 
  padding: 4rem 2rem;
}
.card2 {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: left;
  box-shadow: 0 5px 10px rgb(115, 69, 201);
  transition: transform 0.3s ease;
}


.card2:hover {
  transform: translateY(-8px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.card2 h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d2d2d;
}

.card2 .underline {
  width: 40px;
  height: 3px;
  background-color: #c0392b; 
  margin: 0.5rem 0 1rem 0;
}

.card2:hover p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

.produktbutton11 {
   background-color: var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;
   box-shadow: 0 5px 10px var(--red);
}
.produktbutton11:hover {
  background-color: var(--dark-blue);
}
 .produktbutton22 {
   background-color: var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   box-shadow: 0 5px 10px var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;

}
.produktbutton22:hover {
  background-color: var(--dark-blue);
}
.produktbutton33 {
   background-color:var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
    box-shadow: 0 5px 10px var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 300;
   transition: 0.3s ease;
}
.produktbutton33:hover {
  background-color: var(--dark-blue);
}

.produktbutton44 {
   background-color: var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;
   box-shadow: 0 5px 10px var(--red);
}
.produktbutton44:hover {
  background-color: var(--dark-blue);
}
 .produktbutton55 {
   background-color: var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   box-shadow: 0 5px 10px var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 400;
   transition: 0.3s ease;

}
.produktbutton55:hover {
  background-color: var(--dark-blue);
}
.produktbutton66 {
   background-color:var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   box-shadow: 0 5px 10px var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 300;
   transition: 0.3s ease;
}
.produktbutton66:hover {
  background-color: var(--dark-blue);
}
.produktbutton77 {
   background-color:var(--red);
   color: white;
   border-radius: 10px;
   border-color: var(--red);
   box-shadow: 0 5px 10px var(--red);
   padding: 7px;
   margin: 0px;
   font-weight: 300;
   transition: 0.3s ease;
}
.produktbutton77:hover {
  background-color: var(--dark-blue);
}
.icon1 {
  width: 70px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 1rem;
}

.produkte22 {
  display: flex;
  background-color: var(--dark-blue);
  padding-top: 20px;
  gap: 15px;
}
.img1 {
  background-color: var(--dark-blue);
  width: 230px;
  height: 400px;
  border-radius: 30px;
  margin:auto;
  margin-top: 5px;
  transition: 0.3s ease;
  justify-content: center;
 
}
.img1:hover {
  transform: scale(1.1);
}
.img2 {
  background-color: var(--dark-blue);
  width: 250px;
  height: 400px;
  border-radius: 30px;
  margin:auto;
  margin-top: 5px;
  transition: 0.3s ease;
  justify-content: center;

}
.img2:hover {
  transform: scale(1.1);
}
.img3 {
  background-color: var(--dark-blue);
  width: 250px;
  height: 400px;
  border-radius: 30px;
  margin:auto;
  margin-top: 5px;
  transition: 0.3s ease;
  justify-content: center;
}
.img3:hover {
  transform: scale(1.1);
}
.img4 {
  background-color: var(--dark-blue);
  width: 250px;
  height: 400px;
  border-radius: 30px;
  margin:auto;
  margin-top: 5px;
  transition: 0.3s ease;
  justify-content: center;
}
.img4:hover {
  transform: scale(1.1);
}

.img6 {
  background-color: var(--dark-blue);
  width: 250px;
  height: 400px;
  border-radius: 30px;
  margin:auto;
  margin-top: 5px;
  transition: 0.3s ease;
  justify-content: center;
}
.img6:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .home端beruns {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .home端beruns img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .wir {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .btn-container {
    flex-direction: column; 
    align-items: center;
  }

  .btn {
    width: 80%;  
    text-align: center;
  }
}

.preiserabatte {
  background-color: var(--dark-blue);
  color: var(--red);
  text-align: center;
}
.btn-container1 {
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;       
  justify-content: center;
  gap: 10px;
}
.btn-container1 .btn.btn-transparent1 {
  color: var(--red);
  transition: 0.3s ease;
}

.btn-container1 .btn.btn-transparent1:hover {
  background-color: #f1f1f1;
}

/**kontakt start*/

.kontakt {
  background-color: var(--dark-blue);
  color: var(--light-pink);
  text-align: center;
  padding: 50px 0;
}
.kontakt h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.kontakt p {
  max-width: 600px;
  margin: 2rem auto 2rem;
  line-height: 1.6;
}
.kontakt-formular {
  background-color:#0d0d2b;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.kontakt-formular input,
.kontakt-formular textarea {
  background-color:var(--dark-blue);
  color: white;
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.kontakt-formular button {
  padding: 0.75rem 1.5rem;
  background-color: var(--red);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.kontakt-formular button:hover {
  background-color: #217dbb;
}
.kontakt-formular .bttn {
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}
.kontakt-formular .bttn:hover {
  background-color: var(--dark-blue);
}
/**Kontakt end*/